// header {
//    height: 100vh;
// }

.homeHeader {
   height: 100vh;
   background-image: url(../assets/);
   background-size: cover;
   background-position: center;
   h1 {
      text-align: center;
      align-items: center;
      color:white;
      font-size: 6rem;
      text-shadow: 1px 1px 1px black;
      margin: 0;
      padding-top: 14rem;
   }
   p {
      text-align: center;
      font-size: 3rem;
      text-shadow: 1px 1px 1px black;
      color: rgb(235, 231, 231);
   }
   .flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }
   .headerButtons button {
      padding: .5rem 1rem;
      margin: 2rem 1rem 0rem 1rem;
      border-radius: 0;
      border: none;
      &:hover {
         background-color: rgb(235, 74, 74);
         transition: 1s all ease;
      }
   }
}