main {
   // height: 100vh;
   .about {
      padding-top: 2rem;
      padding-bottom: 3rem;
      .aboutSection {
         display: flex;
         flex-direction: row;
         .aboutPic {
            width: 30%;

            img {
               width: 100%;
            }
         }
         p {
            width: 70%;
            padding-left: 2rem;
            padding-right:1rem;
         }
      }
   }
   h2 {
      text-align: center;
      font-size: 2rem;
      padding-top: 1rem;
   }

   .howToOrder {
      background-color: lightgray;
      height: 80vh;
      padding-top: 3rem;
      .wrapper {
         h4 {
            text-align: center;
         }
         h3,
         h4 {
            font-size: 2rem;
         }
         .restoreContainer {
            width: 60%;
            margin: 0 auto;
         }
      }
   }

   .instaFeed {
      margin-top: 3rem;
      // height: 100vh;
      h3 {
         font-size: 3rem;
         text-align: center;
         a {
            color: black;
         }
      }
   }
}