.serviceHeader {
   height: 60vh;
   background-image: url(../assets/custom/NikeBikeShoe/IMG_3625.JPG);
   background-size: cover;
   background-position: center;
   padding-top: 2rem;
   h1 {
      font-size: 3rem;
      color: white;
      text-shadow: 1px 1px 1px black;
   }
}

main {
   .instructBox {
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem;
      h3 {
         padding-bottom: 2rem;
         text-align: center;
         font-size: 1.5rem;
      }
      // ol li {
      //    list-style-type: decimal;
      // }
   }
   .serviceContainer {
      display: flex;
      flex-wrap: wrap;
      .services {
         margin-bottom: 1rem;
         background-color: grey;
         width: 100%;
         .serviceName {
            margin: 1rem;
         }
         .customName {
            font-size: 1.5rem;
            text-align: left;
         }
      }
   }
}
.serviceName,
.serviceDescrip {
   margin: 1rem;
}
.serviceButtons {
   margin: 1rem auto;
   text-align: center;
   button {
      padding: .5rem;
      a {
         color: black;
      }
   }
}

.eCart,
.contactButton {
   background-color: grey;
   color: white;
   padding: 1rem;
   border: none;
}

.productBox {
   .product {
      display: flex;
      flex-direction: row;
      position: relative;
      // justify-content: space-between;
      .rightside {
         width: 30%;
         button {
            position:absolute;
            bottom: 0;
            right: 0;
         }

      }
      .leftside {
         width: 70%;
      }
   }
}

.finalTotal {
   text-align: right;
   padding-right: 8rem;
}

.emptyCart {
   h4 {
      text-align: center;;
   }
}

.hidden {
   display: none;
}